# Modules Used:

---
Automation
click
cv2
docx
Flask
geocoder
googlesearch
gtts
keyboard
numpy
pdf2image
pyautogui
pyjokes
PyPDF2
pyttsx3
pytube
pywikihow
qrcode
requests
smtplib
speech_recognition
speedtest
wikipedia
winsound
wolframalpha
---
